.task-add-bg{
    background-image: url("../../sakura.png");
    background-repeat: none;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}


.card {
    width: 500px;
    left: 100px
}

::placeholder {
    color: #b3b3b3
}