.task-edit-bg{
    background-image: url("../../BrightSun.jpg");
    background-repeat: none;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}

.row-vertical-tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }


.card {
    width: 500px;
    left: 100px
}

::placeholder {
    color: #b3b3b3
}
.edit-task-text{
    color: white;
}