.task-details-bg{
    background-image: url("../../BrightSun.jpg");
    background-repeat: none;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}


.card {
    width: 500px;
    left: 100px
}

::placeholder {
    color: #b3b3b3
}

.details-task-text{
    color: white;
}