
.row-vertical-tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

.card {
    width: 500px;
    left: 100px
}

::placeholder {
    color: #b3b3b3
}