.habits-add-bg{
    background-image: url("../../Hiker.png");
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}

.row-vertical-habits{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
} 






.button-h {
  background: #7e3e10;
  border: 1px solid;
  border-radius: 15px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

