.habits-list-bg{
    background-image: url("../../Hiker.png");
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}

.row-vertical-habits{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
} 

.habit-text-link{
    color: white
}

.habit-text-link:hover{
    color: rgb(32, 20, 3)
}