.skill-list-bg{
    background-image: url("../../DeerSunset.jpg");
    background-repeat: none;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}

.row-vertical-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }