.home-bg {
    background-image: url("../FireWatch.jpg");
    background-repeat: none;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}

.row-vertical-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}




.close-m:hover,
.close-m:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.close-m {
  --color: #fff;
  --hover: #ffdc7f;
}

.button-m {
  color: var(--color);
  transition: 0.25s;
}


.button-m:hover, .button-m:focus {
  border-color: var(--hover);
  color: #fff;
}



.button-m {
  background: #492258;
  border: 1px solid;
  border-radius: 15px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.h-m {
  font-weight: 40px;
}

.code-m {
  color: #e4cb58;
  font: inherit;
}