.navi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 80px;
    background-color: black;
    transition: background-color .3s ease-in;
    color: #fff;
  }
  
  .navi:hover {
    background-color: #10141b;
  }