

.footer-bar-mini{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  transition: background-color .3s ease-in;
  color: #fff;
}

.footer-bar span{
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 5px;
 margin-right: 5px;
 padding: 0;
}


.footer-logo-size {
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
}

.footer-logo-text-size{
  font-size: 30px;
}

.footer-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
 
    background-color: #10141b;
    transition: background-color .3s ease-in;
    
    color: #fff;
  }
  
  .footer-bar:hover {
    background-color: #660035;
  }
  
  .footer-bar a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #cfcfcf;
    font-size: 1em;
    font-weight: 600;
  }
  
  .footer-bar button {
    background-color: transparent;
    border: none;
    color: #fff;
  }

  