.navi-s-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 80px;
    background-color: transparent;
    transition: background-color .3s ease-in;
    position: fixed;
    color: #fff;
  }
  
  .navi-s-bar:hover {
    background-color: #10141b;
  }
  
  .navi-s-bar a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #cfcfcf;
    font-size: 1em;
    font-weight: 600;
  }
  
  .navi-s-bar button {
    background-color: transparent;
    border: none;
    color: #fff;
  }