.navi-s-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #10141b;
    transition: background-color .3s ease-in;
    color: #fff;
  }
  
  .navi-s-bar-mini{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    transition: background-color .3s ease-in;
    color: #fff;
  }
  
  .navi-s-bar:hover {
    background-color: #acad74;
  }
  
  .navi-s-bar a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #cfcfcf;
    font-size: 1em;
    font-weight: 600;
  }
  .navi-s-bar span{
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 5px;
   margin-right: 5px;
   padding: 0;
  }
  
  .navi-s-bar button {
    background-color: transparent;
    border: none;
    color: #fff;
  }
  
  .skils-logo-size {
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
  }
  
  .skills-logo-text-size{
    font-size: 30px;
  }